@import url("../../../../globals.module.css");

.cardContainer {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	align-items: center;
	box-shadow: 1px 1px 30px 1px var(--box-shadow-color);
	border-radius: 30px;
	transition: width 200ms, height 200ms;
	border: 2px solid black;
}

.image {
	min-width: 500px;
}

.textContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.cardText {
	width: 250px;
	font-family: "Montserrat Medium"	
}

.title {
	width: 300px;
}
