.cardContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	box-shadow: 1px 1px 30px 1px #d1d1d1;
	border-radius: 30px;
	width: 300px;
	transition: width 200ms, height 200ms;
}

/* Animation code for hover (can be found in transitions folder as well*/
.hoverGrowEnter {
	width: 300px;
	height: 410px;
	transition: width 200ms, height 200ms;
}

.hoverGrowEnterDone {
	width: 310px;
	height: 420px;
	transition: width 200ms, height 200ms;
}

.hoverGrowExit {
	width: 310px;
	height: 420px;
	transition: width 200ms, height 200ms;
}

.hoverGrowExitDone {
	width: 300px;
	height: 410px;
	transition: width 200ms, height 200ms;
}

.image {
	min-width: 500px;
}
