.cardContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	box-shadow: 1px 1px 30px 1px #d1d1d1;
	border-radius: 30px;
}


.image {
	min-width: 500px;
}
