.hoverGrow-enter {
	width: 300px;
	height: 410px;
}

.hoverGrow-enter-done {
	width: 310px;
	height: 420px;
	transition: width 200ms, height 200ms;
}

.hoverGrow-exit {
	width: 310px;
	height: 420px;
	transition: width 200ms, height 200ms;
}

.hoverGrow-exit-done {
	width: 300px;
	height: 410px;
	transition: width 200ms, height 200ms;
}
